body{
    background-color: #27272a;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-heading{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: green;
}
