body{
    background-color: #27272a;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-heading{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: green;
}
.button{
    font-size: 2rem;
    padding: 8px 2rem;
    border-radius: 4px;
    margin-right: 10px;
}
.button:hover{
    cursor: pointer;
    opacity: .8;
}

.btn-red{
    background-color: red;
    color: #fff;
}
.input{
    font-size: 20px;
    margin: 8px;
    padding: 8px 2rem;
    border-radius: 4px;
    margin-right: 10px;
}